<ion-header class="ion-no-border">
  <ion-toolbar>
   



   <ion-tabs >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="font-size:7px">
        <ion-img src="assets/img/logo.png" width="400px" height="400px"></ion-img>
         
      </ion-tab-button>
      <ion-tab-button tab="search" style="font-size:7px">
        <ion-item>
          <ion-label>
            <ion-icon name="notifications-sharp"></ion-icon>
            <ion-icon name="location-sharp"></ion-icon>
          </ion-label>
        </ion-item>
      
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>


</ion-header>


<ion-content>

  <!-- <ng-container  *ngComponentOutlet="dynamiqueComponnent"></ng-container> -->
  <ion-tabs >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="font-size:7px">
        <ion-icon name="home-sharp"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search" style="font-size:7px">
        <ion-icon name="search"></ion-icon>
        <ion-label>Recherche</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="post" style="font-size:7px">
        <ion-icon name="add-circle-outline"  style="color: white;"></ion-icon>
        <ion-label style="color: white;">Publier</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mail" style="font-size:7px">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Message</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="logout" style="font-size:7px">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Deconnexion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<!-- <ion-segment scrollable value="heart">
  <ion-segment-button value="home">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="heart">
    <ion-icon name="heart"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-icon name="pin"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="star">
    <ion-icon name="star"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="call">
    <ion-icon name="call"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="globe">
    <ion-icon name="globe"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="basket">
    <ion-icon name="basket"></ion-icon>
  </ion-segment-button>
</ion-segment> -->