
ion-tab-button {

    color: #FCCE06 !important;
}
ion-tab-button{
    ion-img{
        width: 150px;
        height: 850px;
    }
}

ion-tabs, ion-toolbar, ion-header{
    --ion-background-color: #2B2B2B !important;
    --background: #2B2B2B !important;
  
}


ion-content{
    --ion-background-color: #6A6A6A !important;
}